@use "../../assets/styles/variables.module" as *;

.notiLabel {
  width: 100%;
  // height: 17px;
  border-radius: 8px;
  background-color: $primary;
  padding: 5px 8px;

  &.disabled {
    background-color: $disabled;
    color: $body-light;
  }
}
