.iconBox {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $primary;
    opacity: 0.1;
    border-radius: 14px;
  }
}
