.myLayout {
  min-height: 100vh !important;
}

.trigger {
  color: #fff;
}

.xflex {
  display: flex;
}

.dashboard {
  color: #fff;
}
.antLayout {
  min-height: 100vh;
}
.userProfile {
  display: flex;
  align-items: center;
  height: 100%;
}
.userAction {
  height: 45px;
  display: flex;
  width: 100%;
  align-items: center;
}
.separator {
  height: 100%;
  width: 1px;
  background-color: #e8e9eb;
}

.fixHeight {
  height: 45px;
}

.bRound {
  border-radius: 20px;
}

.chartLine {
  background-color: #e8e9eb;
  gap: 2px;
}
