@use "./variables.module" as *;

.header-ddl {
  .ant-select-selector {
    color: #fff !important;
    // color: currentColor;
    background-color: red;
  }
  .ant-select .ant-select-arrow {
    color: #fff;
  }
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: currentColor;
}

.ant-btn {
  & > span {
    &.custom {
      display: flex;
    }
  }
}

//tabs
.ant-tabs-nav {
  margin: 0 0 2rem 0 !important;
}

//table
.product-table {
  // border-radius: 8px;
  border-radius: 20px;
  .ant-pagination {
    align-items: center;
  }
  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 16px;
  }
  .ant-pagination-options {
    position: absolute;
    left: 0;
    .ant-select-selector {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 14px;
    }
  }
  .ant-pagination-total-text {
    position: absolute;
    left: 140px;
  }
  .ant-table-wrapper .ant-table-thead > tr > th {
    background-color: #fff;
  }
  .ant-table-cell::before {
    content: unset !important;
  }

  .ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected > td {
    background: $table-selected;
  }
}

// antd menu
.ant-menu-item,
.ant-menu-submenu-title {
  // svg {
  //   color: $body-light;
  //   // color: currentColor;
  // }

  .ant-menu-title-content {
    color: $black;
    // color: currentColor;
  }
}

.ant-menu .ant-menu-item .ant-menu-item-icon,
.ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  color: $body-light;
}
.ant-menu .ant-menu-submenu-arrow {
  color: $black;
}

.ant-menu-item {
  position: unset;
}

.ant-menu-light.ant-menu-inline .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  width: 100%;
  margin-inline: unset;
  border-radius: unset;
  margin-block: unset;
  height: 56px;

  transition: border-color 0.3s, background 0.3s,
    padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-menu-item-selected {
  .active-indicator {
    width: 4px;
    height: 100%;
    background-color: $primary;
    border-radius: 0px 10px 10px 0px;

    transition: background 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.ant-menu-item .ant-menu-item-icon {
    // color: $body-light !important;
    color: currentColor;
  }

  .ant-menu-title-content {
    // color: $black;
    color: currentColor;
  }
}

.ant-menu-light .ant-menu-item-selected {
  background-color: #e6f0fc;
}

//chart tooltip

.arrow_box {
  position: relative;
  // background: #555;
  // border: 2px solid #000000;
  padding: 0 1rem;
  border-radius: 8px;
  color: $primary;
}
.arrow_box:after,
.arrow_box:before {
  /*   right: 0; */
  top: 100%;
  // left: 50%;
  /*   bottom: 100%; */
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  // transform: translateX(-50%);
  left: 0;
  right: 0;
  margin: auto;
}

.arrow_box:after {
  // border-color: rgba(85, 85, 85, 0);
  border-right-color: #fff;
  border-width: 10px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.apexcharts-tooltip {
  display: flex;
  overflow: visible !important;
  white-space: normal !important;
}
