.ant-select-selector {
  color: #fff !important;
  background-color: red;
}
.ant-select .ant-select-arrow {
  color: #fff;
}
.ant-select-single.ant-select-open .ant-select-selection-item{
    color: #fff;
}